input[type='range'] {
    width: 100%;
    margin: 6.5px 0;
    background-color: transparent;
    -webkit-appearance: none;
}
input[type='range']:focus {
    outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
    background: #8230df;
    border: 1.2px solid #010101;
    border-radius: 24.8px;
    width: 100%;
    height: 12px;
    cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
    margin-top: -7.7px;
    width: 25px;
    height: 25px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type='range']:focus::-webkit-slider-runnable-track {
    background: #8f46e2;
}
input[type='range']::-moz-range-track {
    background: #8230df;
    border: 1.2px solid #010101;
    border-radius: 24.8px;
    width: 100%;
    height: 12px;
    cursor: pointer;
}
input[type='range']::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 50px;
    cursor: pointer;
}
input[type='range']::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 7.5px 0;
    color: transparent;
    width: 100%;
    height: 12px;
    cursor: pointer;
}
input[type='range']::-ms-fill-lower {
    background: #7521d5;
    border: 1.2px solid #010101;
    border-radius: 49.6px;
}
input[type='range']::-ms-fill-upper {
    background: #8230df;
    border: 1.2px solid #010101;
    border-radius: 49.6px;
}
input[type='range']::-ms-thumb {
    width: 25px;
    height: 25px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}
input[type='range']:focus::-ms-fill-lower {
    background: #8230df;
}
input[type='range']:focus::-ms-fill-upper {
    background: #8f46e2;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type='range'] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}
